In [56]:
import pandas as pd

In [76]:
df = pd.read_csv("data/weather_data.csv").drop(columns=["Unnamed: 0"])

In [58]:
df.head(2)

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,1901,17.99,19.43,23.49,26.41,28.28,28.60,27.49,26.98,26.26,25.08,21.73,18.95
1,1902,19.00,20.39,24.10,26.54,28.68,28.44,27.29,27.05,25.95,24.37,21.33,18.78

In [59]:
df.tail(2)

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
115,2016,20.92,23.58,26.61,29.56,30.41,29.70,28.18,28.17,27.72,26.81,23.90,21.89
116,2017,20.59,23.08,25.58,29.17,30.47,29.44,28.31,28.12,28.11,27.24,23.92,21.47

In [60]:
df[2:5]

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
2,1903,18.32,19.79,22.46,26.03,27.93,28.41,28.04,26.63,26.34,24.57,20.96,18.29
3,1904,17.77,19.39,22.95,26.73,27.83,27.85,26.84,26.73,25.84,24.36,21.07,18.84
4,1905,17.40,17.79,21.78,24.84,28.32,28.69,27.67,27.47,26.29,26.16,22.07,18.71

In [61]:
df.columns

Index(['YEAR', 'JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP',
       'OCT', 'NOV', 'DEC'],
      dtype='object')

In [62]:
# df.JAN
df['JAN'].head(5)

0    17.99
1    19.00
2    18.32
3    17.77
4    17.40
Name: JAN, dtype: float64

In [63]:
type(df["FEB"])

pandas.core.series.Series

In [64]:
df[["YEAR","JAN","FEB","MAR","APR"]].tail(10)

     YEAR    JAN    FEB    MAR    APR
107  2008  18.49  19.83  24.43  26.54
108  2009  19.79  21.66  24.55  27.35
109  2010  19.15  21.23  26.53  28.40
110  2011  18.32  20.79  24.11  26.10
111  2012  18.25  20.43  23.98  26.89
112  2013  18.88  21.07  24.53  26.97
113  2014  18.81  20.35  23.34  26.91
114  2015  19.02  21.23  23.52  26.52
115  2016  20.92  23.58  26.61  29.56
116  2017  20.59  23.08  25.58  29.17

In [65]:
df["JAN"].mean()

18.42324786324786

In [66]:
df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,1959.000000,18.423248,20.137949,23.434188,26.514103,28.386410,28.300940,27.369231,26.940085,26.342650,24.742051,21.765726,19.173333
std,33.919021,0.612963,0.900944,0.862825,0.750740,0.644678,0.460603,0.345920,0.348876,0.387789,0.563152,0.634183,0.635912
min,1901.000000,17.250000,17.790000,21.780000,24.840000,26.970000,27.330000,26.480000,26.210000,25.470000,23.520000,20.590000,17.980000
25%,1930.000000,18.070000,19.470000,22.840000,26.000000,27.950000,28.020000,27.150000,26.730000,26.110000,24.390000,21.320000,18.780000
50%,1959.000000,18.350000,19.990000,23.330000,26.540000,28.340000,28.250000,27.340000,26.900000,26.310000,24.670000,21.720000,19.180000
75%,1988.000000,18.720000,20.550000,23.930000,26.910000,28.820000,28.580000,27.530000,27.150000,26.500000,24.920000,22.150000,19.550000
max,2017.000000,20.920000,23.580000,26.610000,29.560000,30.780000,29.880000,28.470000,28.170000,28.110000,27.240000,23.920000,21.890000

In [67]:
df[df["JAN"]>20]

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
115,2016,20.92,23.58,26.61,29.56,30.41,29.70,28.18,28.17,27.72,26.81,23.90,21.89
116,2017,20.59,23.08,25.58,29.17,30.47,29.44,28.31,28.12,28.11,27.24,23.92,21.47

In [68]:
df[["YEAR","JAN"]][df["JAN"]>=df["JAN"].mean()].tail(5)

     YEAR    JAN
112  2013  18.88
113  2014  18.81
114  2015  19.02
115  2016  20.92
116  2017  20.59

In [77]:
df.index

RangeIndex(start=0, stop=117, step=1)

In [78]:
df.set_index("YEAR", inplace=True)

In [86]:
df.loc[2000]

JAN    18.87
FEB    19.78
MAR    23.22
APR    27.27
MAY    28.92
JUN    28.02
JUL    27.34
AUG    26.98
SEP    26.53
OCT    25.58
NOV    22.75
DEC    19.66
Name: 2000, dtype: float64

In [87]:
df.reset_index(inplace=True)

In [88]:
df

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC
0,1901,17.99,19.43,23.49,26.41,28.28,28.60,27.49,26.98,26.26,25.08,21.73,18.95
1,1902,19.00,20.39,24.10,26.54,28.68,28.44,27.29,27.05,25.95,24.37,21.33,18.78
2,1903,18.32,19.79,22.46,26.03,27.93,28.41,28.04,26.63,26.34,24.57,20.96,18.29
3,1904,17.77,19.39,22.95,26.73,27.83,27.85,26.84,26.73,25.84,24.36,21.07,18.84
4,1905,17.40,17.79,21.78,24.84,28.32,28.69,27.67,27.47,26.29,26.16,22.07,18.71
5,1906,17.50,19.14,22.21,26.53,29.06,28.02,27.46,26.82,26.23,24.75,21.93,19.55
6,1907,19.27,19.42,22.03,26.98,27.52,27.66,27.28,26.38,26.26,24.72,22.11,18.46
7,1908,18.35,19.73,22.93,27.06,28.07,28.49,27.16,26.41,25.74,24.25,21.06,18.15
8,1909,17.79,19.05,23.40,25.76,27.97,27.67,26.56,26.43,25.47,24.37,22.01,18.86
9,1910,18.14,19.72,22.90,25.96,28.36,27.72,26.93,26.61,25.98,24.04,20.72,18.05
10,1911,18.52,19.18,22.05,26.00,28.55,28.02,27.44,27.04,26.22,24.57,21.10,18.76
11,1912,18.60,20.84,22.93,26.21,28.30,28.53,27.49,26.68,25.81,24.44,21.00,18.44
12,1913,18.20,19.98,22.15,26.61,27.95,27.91,27.00,26.80,26.02,24.35,20.92,18.70
13,1914,18.96,19.66,22.63,25.73,28.24,28.46,27.29,26.49,26.38,23.97,21.87,18.73
14,1915,17.93,19.00,22.69,26.23,29.17,28.58,27.77,27.32,26.82,25.46,22.18,18.31
15,1916,18.52,19.68,24.24,26.84,28.16,27.81,27.08,26.77,26.00,24.60,21.03,18.17
16,1917,18.16,19.94,22.46,25.29,26.97,27.41,27.15,26.64,25.79,23.85,20.80,18.39
17,1918,17.25,19.58,22.64,25.26,28.27,27.58,27.74,26.97,26.00,24.54,21.71,18.37
18,1919,18.78,19.15,23.15,26.19,28.20,28.30,27.28,26.84,25.84,24.36,21.48,18.58
19,1920,18.27,19.16,23.02,25.73,27.06,27.76,27.48,26.61,26.34,24.85,21.84,18.78
20,1921,18.61,22.12,24.26,27.11,30.78,28.04,27.40,26.59,25.92,23.84,21.10,19.24
21,1922,18.30,20.50,23.65,26.55,29.80,28.03,27.26,26.95,26.04,23.94,21.28,18.39
22,1923,18.23,19.35,23.21,26.81,28.33,28.95,26.89,26.71,25.89,23.89,21.23,19.08
23,1924,18.06,19.97,24.12,26.87,27.43,28.60,27.50,26.91,25.72,24.50,21.04,18.97
24,1925,17.53,19.08,23.50,27.24,27.82,27.76,27.01,26.64,26.29,24.61,21.29,18.63
25,1926,18.65,20.70,22.87,25.30,27.69,28.97,27.65,27.08,25.95,24.41,20.59,18.80
26,1927,18.15,19.40,22.71,26.13,27.70,27.93,27.23,26.66,26.10,24.70,21.16,19.41
27,1928,18.66,20.13,23.23,26.44,28.88,28.22,27.28,26.90,26.32,24.92,21.77,18.73
28,1929,18.25,19.00,24.05,26.44,28.58,28.07,27.26,26.64,26.41,24.12,21.71,18.44
29,1930,17.75,18.72,23.36,25.94,28.11,27.84,27.31,26.85,26.17,24.60,21.41,19.11
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,1988,18.58,20.83,23.51,26.60,28.60,28.37,27.12,26.91,26.48,24.79,21.63,19.64
88,1989,17.68,19.85,23.00,25.95,28.13,27.72,26.96,26.86,26.38,24.84,21.80,19.23
89,1990,18.56,20.33,22.79,26.15,27.71,28.11,27.06,26.99,26.55,24.51,22.08,19.78
90,1991,17.99,20.43,23.58,26.13,28.35,28.17,27.59,26.88,26.65,24.56,21.60,19.44
91,1992,18.36,19.77,22.95,26.21,27.75,28.40,27.31,26.78,26.11,24.70,22.01,19.42
92,1993,18.37,20.84,22.71,26.50,28.73,28.50,27.24,27.29,26.34,24.88,22.20,19.55
93,1994,19.33,20.20,24.14,26.04,28.72,28.56,27.34,27.01,26.31,24.56,22.06,19.30
94,1995,19.18,21.48,24.26,27.23,29.34,29.88,27.80,27.40,27.15,26.00,22.99,20.65
95,1996,19.81,21.73,25.13,26.67,28.37,28.08,27.42,26.77,26.64,24.50,21.81,18.96
96,1997,17.86,19.88,23.64,25.55,27.86,28.33,28.01,27.27,26.81,24.48,22.05,19.31
97,1998,18.84,20.60,22.98,27.00,29.18,28.88,27.78,27.42,26.70,25.27,22.48,19.21
98,1999,18.32,21.26,24.18,27.66,28.13,27.95,27.58,27.08,26.90,24.97,22.33,19.57
99,2000,18.87,19.78,23.22,27.27,28.92,28.02,27.34,26.98,26.53,25.58,22.75,19.66
100,2001,18.50,21.00,24.12,26.90,29.46,28.13,27.63,27.62,26.86,25.49,22.51,19.55
101,2002,18.78,20.52,24.44,27.66,29.56,28.77,28.47,27.27,26.43,25.44,23.17,19.87
102,2003,18.60,21.03,23.62,27.29,28.64,29.01,27.53,27.25,26.75,24.92,22.17,19.59
103,2004,18.83,21.03,26.19,27.38,28.12,27.94,27.44,27.16,26.80,24.34,22.43,19.93
104,2005,19.07,20.51,24.14,26.62,28.22,28.99,27.34,27.41,26.82,24.84,21.73,19.23
105,2006,19.96,23.02,23.91,26.83,28.82,28.13,27.92,27.15,26.42,25.41,22.59,19.99
106,2007,19.24,20.97,23.52,27.72,28.84,28.31,27.66,27.37,26.61,24.92,22.40,19.65
107,2008,18.49,19.83,24.43,26.54,28.42,28.10,27.50,27.00,26.44,25.47,22.51,20.62
108,2009,19.79,21.66,24.55,27.35,28.71,28.77,27.83,27.85,27.11,25.20,22.31,20.22
109,2010,19.15,21.23,26.53,28.40,29.19,28.51,27.55,27.33,26.60,25.58,22.98,19.22
110,2011,18.32,20.79,24.11,26.10,28.92,28.60,27.60,27.20,26.70,25.51,22.84,19.84
111,2012,18.25,20.43,23.98,26.89,28.72,28.91,27.98,27.31,26.65,24.85,22.26,19.91
112,2013,18.88,21.07,24.53,26.97,29.06,28.24,27.50,27.22,26.87,25.63,22.18,19.69
113,2014,18.81,20.35,23.34,26.91,28.45,29.42,28.07,27.42,26.61,25.38,22.53,19.50
114,2015,19.02,21.23,23.52,26.52,28.82,28.15,28.03,27.64,27.04,25.82,22.95,20.21
115,2016,20.92,23.58,26.61,29.56,30.41,29.70,28.18,28.17,27.72,26.81,23.90,21.89
116,2017,20.59,23.08,25.58,29.17,30.47,29.44,28.31,28.12,28.11,27.24,23.92,21.47